h1 {
 /* padding: 40px 15px;*/
  text-align: center;
  color: #660033;
}

h3 {
  color: #800000;
}

h4 {
  text-decoration: underline;
}

.indexText {
  text-align: left;
}

.righto {
  text-align: right;
}

.myAlign {
  display: flex;
  justify-content: space-between;
}


